Importing libs

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

Making dataframe from csv

In [18]:
df = pd.read_csv('Melbourne_housing_FULL.csv')

Preview dataset

In [ ]:
df.head(n=5)

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

Removing useless columns

In [19]:
del df['Address']
del df['Method']
del df['SellerG']
del df['Date']
del df['Postcode']
del df['Lattitude']
del df['Longtitude']
del df['Regionname']
del df['Propertycount']

Dropping rows with missing values

In [20]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

One-hot encoding for converting non-numerical data to numerical data

In [21]:
features_df = pd.get_dummies(df, columns=['Suburb', 'CouncilArea', 'Type'])

See the new dataframe is features_df

In [22]:
features_df.head(n=5)

    Rooms      Price  Distance  ...  Type_h  Type_t  Type_u
2       2  1035000.0       2.5  ...       1       0       0
4       3  1465000.0       2.5  ...       1       0       0
6       4  1600000.0       2.5  ...       1       0       0
11      3  1876000.0       2.5  ...       1       0       0
14      2  1636000.0       2.5  ...       1       0       0

[5 rows x 360 columns]

removing 'Price' from features and assigning X,y

In [23]:
del features_df['Price']

In [24]:
X = features_df.to_numpy()
y = df['Price'].to_numpy()

Split the dataset

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

Assigning the hyper-parameters for the model
We are using gradient boost here

In [42]:
model = ensemble.GradientBoostingRegressor(
n_estimators=250,
learning_rate=0.1,
max_depth=5,
min_samples_split=4,
min_samples_leaf=6,
max_features=0.6,
loss='huber')

Start Model  Training Process

In [43]:
model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='huber',
                          max_depth=5, max_features=0.6, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=6, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=250,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

Saving the model

In [46]:
joblib.dump(model, 'house_trained_model_optimised.pkl')

['house_trained_model_optimised.pkl']

Evaluating the model with mean absolute error on training data

In [44]:
mse = mean_absolute_error(y_train, model.predict(X_train))
print ("Training Set Mean Absolute Error: %.2f dollars" % mse)

Training Set Mean Absolute Error: 124302.40 dollars

Evaluating the model with mean absolute error on test data

In [45]:
mse = mean_absolute_error(y_test, model.predict(X_test))
print ("Test Set Mean Absolute Error: %.2f dollars" % mse)

Test Set Mean Absolute Error: 159646.93 dollars